<!-- This image has to be at the top so that it does not render above the other elements. -->
<img class="background" src="assets/svg/main-waves.svg" alt="waves" />

<mat-toolbar class="mat-elevation-z4" color="primary">
  <span class="toolbar-branding">{{ branding }}</span>
  <span class="spacer"></span>
  <button mat-button class="font-light">Login</button>
</mat-toolbar>

<div class="container mt-5">
  <!--  The flex classes in this element is to reverse the vertical order of columns on small screens. -->
  <div class="row flex-column-reverse flex-md-row">
    <!-- The global align-vertical class vertically aligns the children. -->
    <div class="col-lg-6 col-md-4 col-sm-12 text-center-sm align-vertical">
      <!--  This wrapper div is here so that there is only one element to be aligned vertically.
            Otherwise, the elements spread away from each other vertically. -->
      <div class="w-100">
        <p class="main-branding">{{ branding }}</p>
        <p class="motto font-light">{{ motto }}</p>
        <button class="main-login" mat-raised-button color="primary">Login</button>
      </div>
    </div>
    <div class="text-center col-lg-6 col-md-8 col-sm-12">
      <img class="w-100 main-img" src="assets/svg/add-info.svg" alt="people-chatting" />
    </div>
  </div>
</div>
