// For the title on the toolbar.
.toolbar-title {
  // Distance from the image.
  margin-left: 15px;
}

// For the spacer between toolbar title and toolbar buttons.
.spacer {
  // Adds space between the toolbar title and toolbar buttons.
  flex: 1 1 auto;
}

// For the area where the messages will appear.
.chat-area {
  // Take full width of parent.
  width: 100%;
  // Height as per toolbar.
  height: calc(100% - 64px - 5px);
  // Top spacing.
  margin-top: 5px;
  // Cool background.
  background: rgb(233, 231, 246);
}

// For the ng-for div of messages.
.message-card-wrapper {
  width: 100%;
  // Paddings.
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

// Outgoing messages.
.message-by-me {
  // Brings message card to the beginning of the right aligned div.
  display: flex !important;
  justify-content: flex-end;

  // Puts message card on the right end of the right aligned div.
  margin-left: auto;
  margin-right: 0;

  // Do not go into the other person's territory.
  max-width: 60%;
}

// Incoming messages.
.message-by-contact {
  // Brings message card to the beginning of the left aligned div.
  display: flex !important;
  justify-content: flex-start;

  // Do not go into the other person's territory.
  max-width: 60%;
}

// For small screens (width < 991px).
@media only screen and (max-width: 991px) {
  .chat-area {
    // Height as per toolbar.
    height: calc(100% - 56px);
  }
}
