// The whole chat-list-item.
:host {
  // Defining width and height for scrollable UI.
  width: 100%;
  height: 85px;

  // Children in vertical middle.
  display: flex;
  align-items: center;

  // Sideways overflow will not be seen.
  overflow-x: hidden;

  // This padding is added here (and not in the parent's CSS)
  // to achieve mat-ripple effect in the padded area as well.
  padding-left: 10px;
  padding-right: 10px;
}

// For the photo frame.
.photo-frame {
  // Adding height and width for even border-radius.
  width: 55px;
  min-width: 55px;

  // Height adjusts as per width.
  height: auto;

  // Making the circular frame.
  border-radius: 50%;
  // The image overflowing the frame will not be visible.
  overflow: hidden;
}

// For the photo.
.photo-frame img {
  // Putting image in the middle of the frame.
  margin-left: auto;
  margin-right: auto;

  // Full height and width.
  height: 100%;
  width: 100%;
}

// For the middle div.
.middle-div {
  // Spacing from the photo-frame.
  padding-left: 15px;
  // Width as per the photo-frame and right div.
  width: calc(100% - 60px - 100px);
}

// For the the div that contains only contact's name.
.name-div {
  // Increasing font size.
  font-size: 20px;
}

// For the div that contains chat time etc.
.right-div {
  // Mid align elements.
  text-align: center;
  // Fixed width.
  width: 100px;
}

// For mat-badge, used for unread message count.
span.mat-badge-content {
  // Positioning the badge correctly.
  right: 0 !important;
}
