html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Makes the font thinner.
.font-light {
  font-weight: lighter;
}

// Vertically centers the child (use with only one child).
.align-vertical {
  display: flex !important;
  align-items: center;
}

// Bottom aligns all children.
.align-bottom {
  display: flex !important;
  align-items: flex-end;
}

// Gives full viewport height.
.vh-100 {
  height: 100vh;
}

// For small screens (width < 768px).
@media only screen and (max-width: 768px) {
  .text-center-sm {
    text-align: center;
  }
}

/* Styles below are for dev usage. */

.bg-1 {
  background: lightblue;
}

.bg-2 {
  background: lightpink;
}

.bg-3 {
  background: lightsalmon;
}

.bg-4 {
  background: lightcoral;
}
