:host {
  // Makes the button and input align (don't know why)
  display: flex !important;
}

// For mat-form-field insides.
::ng-deep .mat-form-field-wrapper {
  // Magically removed the bottom space from mat-form-field on small screens.
  margin-bottom: -1.25em !important;
  // No extra bottom padding.
  padding-bottom: 0;
  // No transparent backgrounds.
  background: white;
}

// For mat-form-field.
mat-form-field {
  // Left spacing.
  margin-left: 5px;
  // Right spacing from the button.
  margin-right: 5px;
  // Width as per margins and button width.
  width: calc(100% - 5px - 5px - 56px - 5px);
}
