<!-- This image has to be at the top so that it does not render above the other elements. -->
<img class="background" src="assets/svg/waves.svg" alt="waves" />

<!-- This div takes the whole page and puts the home card in vertical center. -->
<div class="align-vertical vh-100">
  <div class="container outer-container">
    <div class="row h-100">
      <mat-card class="home-card" [ngClass]="isSmallScreen() ? '' : 'mat-elevation-z10'">
        <!-- This container contains all three components. -->
        <div class="container-fluid inner-container">
         <div class="input-wrapper">
           <app-input></app-input>
         </div>
          <div class="row">
            <div class="chat-list-wrapper" [@chatListOpenClose]="getLayoutMode()">
              <app-chat-list></app-chat-list>
            </div>
            <div class="chat-box-wrapper" [@chatBoxOpenClose]="getLayoutMode()">
              <app-chat-box></app-chat-box>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
